In [132]:
import pandas as pd

In [ ]:
df = pd.read_csv("../../dataset/raw/animal_names.csv")
print("Initial df len:", len(df))
df.head()

Initial df len: 2164

      class         scientific_name common_name
0  Mammalia             Felis catus         Cat
1  Mammalia  Canis lupus familiaris         Dog
2  Mammalia    Equus ferus caballus       Horse
3  Mammalia              Bos taurus         Cow
4  Mammalia   Sus scrofa domesticus         Pig

In [134]:
df = df.groupby(df.columns.tolist(),as_index=False).size()
print(len(df[df["size"] > 1]))
df[df["size"] > 1].head()

143

       class            scientific_name        common_name  size
1526  Pisces              Abramis brama       Common Bream     2
1529  Pisces        Acanthopagrus latus     Japanese Bream     2
1530  Pisces           Acipenser baerii  Siberian Sturgeon     2
1531  Pisces  Acipenser gueldenstaedtii   Russian Sturgeon     2
1532  Pisces         Acipenser ruthenus            Sterlet     2

In [135]:
duplicated_df = df[df["size"] > 1]
print(df["class"].unique())

['Amphibia' 'Annelida' 'Arachnida' 'Aves' 'Cnidaria' 'Crustacea' 'Insecta'
 'Mammalia' 'Mollusca' 'Pisces' 'Reptilia']

In [136]:
df = df.drop_duplicates(subset=["common_name"])
df = df.drop_duplicates(subset=["scientific_name"])

In [137]:
print(len(df))

1862

In [138]:
import matplotlib.pyplot as plt
by_class = df.groupby(by="class").agg(n_samples=("scientific_name", "size"))
by_class.head(10)

           n_samples
class
Amphibia         240
Annelida          67
Arachnida        110
Aves             257
Cnidaria          96
Crustacea        114
Insecta          103
Mammalia         239
Mollusca         148
Pisces           238

In [139]:
classes = df['class'].unique()
n_samples = 100

sampled_df = pd.DataFrame()

for cls in classes:
    class_df = df[df['class'] == cls]
    if len(class_df) >= n_samples:
        sampled_class_df = class_df.sample(n=n_samples, replace=False)
        sampled_df = pd.concat([sampled_df, sampled_class_df]) 
    else:
        print(f"Warning: Class '{cls}' has fewer than {n_samples} samples. Using all available samples.")
        sampled_df = pd.concat([sampled_df, class_df])


sampled_df = sampled_df.reset_index(drop=True) 

print(sampled_df.groupby('class').size())
print(sampled_df.head())

Warning: Class 'Annelida' has fewer than 100 samples. Using all available samples.
Warning: Class 'Cnidaria' has fewer than 100 samples. Using all available samples.
class
Amphibia     100
Annelida      67
Arachnida    100
Aves         100
Cnidaria      96
Crustacea    100
Insecta      100
Mammalia     100
Mollusca     100
Pisces       100
Reptilia     100
dtype: int64
      class             scientific_name               common_name  size
0  Amphibia  Osteopilus septentrionalis           Cuban Tree Frog     1
1  Amphibia         Pseudobufo subasper                False Toad     1
2  Amphibia  Melanophryniscus stelzneri           Stelzner's Toad     1
3  Amphibia            Pelobates fuscus          Common Spadefoot     1
4  Amphibia                Hyla cinerea  American Green Tree Frog     1

In [ ]:
sampled_df.drop(labels=["size"], axis=1, inplace=True)
sampled_df["scientific_name"] = sampled_df["scientific_name"].str.lower()
sampled_df["common_name"] = sampled_df["common_name"].str.lower()
sampled_df.to_csv("../../dataset/raw/processed_animal_names.csv", index=False)